.annonce,
.corporate {
  margin: 1vw;
  padding: 1vw;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 5px #ccc;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1vw;
  overflow-x: auto;
  width: auto;
}
